/* default theme */
/* --bg-primary: #262a33;
  --bg-control: #1f232c;
  --color-active: #43ffaf;
  --text-normal: #526777;
  --text-correct: #fff;
  --text-wrong: #e9595a; */
:root {
  --bg-primary: #fff;
  --bg-control: #eff4fc;
  --color-active: #01c4cd;
  --text-normal: #526777;
  --text-correct: #894ede;
  --text-wrong: #e9595a;
  --text-hover: #000;
}

/* dark theme */
.theme-dark {
  --color-primary: #0ea5e9;
  --color-bg: #111827;
  --color-text: #f3f4f6;
}

/* green theme */
.theme-green {
  --color-primary: #10b981;
  --color-bg: #f0fdf4;
  --color-text: #065f46;
}
